/* Reset */
@import url(./reset.css);

/* Variables, font-size, font-family */

:root {
  --strong-cyan: hsl(172, 67%, 45%);
  --very-dark-cyan: hsl(183, 100%, 15%);
  --dark-grayish-cyan-1: hsl(186, 14%, 43%);
  --dark-grayish-cyan-2: hsl(184, 14%, 56%);
  --light-grayish-cyan-1: hsl(185, 41%, 84%);
  --light-grayish-cyan-2: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
}

html {
  font-size: 10px;
  font-family: "Space Mono", monospace !important;
}

/* Main Content */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: var(--light-grayish-cyan-1);
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  margin-bottom: 2.8rem;
  margin-top: 22.3rem;
  height: 5.5rem;
  width: 9rem;
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1.2rem;
  color: var(--dark-grayish-cyan-1);
}

.title p:first-child {
  display: inline-block;
  margin-bottom: 1.8rem;
}

/* .content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 92rem;
  height: 48.1rem;
  margin-bottom: 23.9rem;
  background: var(--white);
  border-radius: 20px;
  padding: 3.2rem;
} */

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 4.6rem;
  width: 92rem;
  height: 48.1rem;
  margin-bottom: 23.9rem;
  background: var(--white);
  border-radius: 20px;
  padding: 3.2rem;
}

.content .input {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.bill,
.tip,
.people {
  width: 100%;
}

.content .input .bill {
  position: relative;
}

.content .input .bill h2 {
  font-size: 1.7rem;
  color: var(--dark-grayish-cyan-1);
  font-weight: bold;
}

.content .input .bill input {
  margin-top: 1.2rem;
  width: 100%;
  padding: 1.2rem;
  border-radius: 5px;
  border: solid 2px var(--strong-cyan);
  text-align: right;
  -webkit-appearance: none;
  outline: none;
  font-weight: bold;
  color: var(--very-dark-cyan);
  font-family: "Space Mono", monospace;
  cursor: pointer;
}

.content .input .bill img {
  position: absolute;
  width: 1.6rem;
  height: 1.6rem;
  top: 4.5rem;
  left: 1.5rem;
}

.content .input .tip h2 {
  margin-top: 5rem;
  font-size: 1.7rem;
  color: var(--dark-grayish-cyan-1);
  font-weight: bold;
}

.content .input .tip ul {
  margin-top: 1.2rem;
  display: grid;
  gap: 1.4rem;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 4.8rem 4.8rem;
}

.content .input .tip ul li input {
  width: 100%;
  height: 100%;
}

.content .input .tip ul li button {
  font-size: 2rem;
  width: 100%;
  height: 100%;
  background-color: var(--very-dark-cyan);
  color: var(--white);
  font-family: "Space Mono", monospace;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.content .input .tip ul li button.active {
  background-color: var(--strong-cyan);
  color: var(--very-dark-cyan);
}

.content .input .tip ul li button:hover {
  background-color: var(--strong-cyan);
  color: var(--very-dark-cyan);
}

.content .input .tip ul li input {
  font-size: 2rem;
  padding: 1.2rem;
  border-radius: 5px;
  border: solid 2px var(--strong-cyan);
  text-align: right;
  -webkit-appearance: none;
  outline: none;
  font-weight: bold;
  color: var(--very-dark-cyan);
  font-family: "Space Mono", monospace;
  cursor: pointer;
}

.content .input .tip ul li input::placeholder {
  text-align: left;
}

.content .input .people {
  margin-top: 5rem;
  font-size: 1.7rem;
  color: var(--dark-grayish-cyan-1);
  font-weight: bold;
  position: relative;
}

.content .input .people input {
  margin-top: 1.2rem;
  width: 100%;
  padding: 1.2rem;
  border-radius: 5px;
  border: solid 2px var(--strong-cyan);
  text-align: right;
  -webkit-appearance: none;
  outline: none;
  font-weight: bold;
  color: var(--very-dark-cyan);
  font-family: "Space Mono", monospace;
  cursor: pointer;
}

.content .input .people img {
  width: 1.6rem;
  height: 1.6rem;
  position: absolute;
  top: 4.5rem;
  left: 1.5rem;
}

.content .output {
  background: var(--very-dark-cyan);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 6rem 4rem 4rem 4rem;
}

.content .results .value-grid {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.content .output {
  border-radius: 20px;
  display: flex;
  align-items: center;
}

.content .output h2 {
  display: inline;
  color: var(--white);
  font-size: 1.7rem;
}

.content .output .value-grid:first-child {
  margin-bottom: 6rem;
}

.content .output .person-span {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  color: var(--dark-grayish-cyan-1);
  font-weight: bold;
  font-size: 1rem;
}

.content .output .value-span {
  grid-row: 1 / -1;
  grid-column: 2 / 3;
  font-size: 4rem;
  font-weight: bold;
  color: var(--strong-cyan);
}

.content .output .reset {
  width: 85%;
}

.content .output .reset button {
  width: 100%;
  background: var(--strong-cyan);
  border: 0;
  padding: 1.5rem;
  border-radius: 5px;
  text-transform: uppercase;
  font-family: "Space Mono", monospace;
  font-weight: bold;
  color: var(--white);
  cursor: pointer;
}

.content .output .reset button:hover {
  color: var(--very-dark-cyan);
}

@media (max-width: 925px) {
  .container {
    flex-direction: column;
    height: 140vh;
    overflow: hidden;
  }

  .content {
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: auto;
  }

  .content .output {
    padding: 4rem 0;
  }

  .content .results .value-grid {
    display: flex;
    flex-direction: column;
  }

  .content .output .value-grid:first-child {
    margin-bottom: 3rem;
  }

  .content .output .person-span {
    margin-top: 10px;
  }

  .content .output .reset {
    margin-top: 40px;
  }
}

@media (max-width: 414px) {
  .container {
    flex-direction: column;
    height: 180vh;
    overflow: hidden;
  }
}
